.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.hero__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
}

.hero__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 3rem;
    height: 13rem;
    background: var(--bg-green);
}

.hero__icons-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.hero__icons-bg:hover {
    background: var(--orange-hover);
    opacity: .5;
    transition: ease .5s;
}

.hero__icons-img {
    width: 2.4rem;
    height: 2.4rem;
    filter: saturate(120%);
}

.hero__title {
    color: var(--black-text);
    font-size: var(--title-size);
    font-style: italic;
    font-weight: 800;
    text-shadow: 5px 5px 2px rgb(173, 161, 111);
    animation: fade 1.8s ease-in .0s;
}

.hero__subtitle {
    font-size: var(--p-size);
    color: var(--subtitle-color);
    animation: fade 1.8s ease-in .0s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Responsive */

@media only screen and (max-width: 767px) {
    .hero__title {
        font-size: 3.2rem;
    }
}
