.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.hero__icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 2rem;
    height: 2rem;
}

.hero__title{
    color: var(--black-text);
    font-size: var(--title-size);
    font-style: italic;
    font-weight: 800;
    text-shadow: 5px 5px 2px rgb(173, 161, 111);
    animation: fade 1.8s ease-in .0s;
}

.hero__subtitle{
    font-size: var(--p-size);
    color: var(--subtitle-color);
    animation: fade 1.8s ease-in .0s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
