:root{
    /* Font family */
    --primary-font: 'Nanum Gothic', sans-serif;

    /* Text Colors */
    --black-text: #19120C;
    --white-color: #e6edf3;
    --subtitle-color: #454545;
    --orange-hover: #FC3C1C;

    /* Background rgba(240,237,224,1)*/
    --bg-color: #cfc7c3;
    --bg-green: rgb(47,56,46);
    --bg-about: #bdb3b0;

    /* Font size */
    --small-size: .8rem;
    --p-size: 1rem;
    --title-size: 3.5rem;
    --subtitle-size: 1.8rem;

    /* Font weight */
    --standard-weight: 400;
    --bold-weight: 700;
}

    /* Reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black-text);
}

h3{
    font-size: var(--p-size);
    font-weight: var(--bold-weight);
}

button{
    border: none;
    background: transparent;
    font-family: var(--primary-font);
}

body{
    background: var(--bg-color);
    color: var(--black-text);
    font-family: var(--primary-font);
    font-size: var(--p-size);
    font-weight: var(--standard-weight);
}