@font-face{
    font-family: 'Segoe UI';
    src: url(../font/segoe-ui.otf);
}

:root{
    /* Font family 'Montserrat', sans-serif */
    --primary-font: 'Segoe UI', sans-serif;

    /* Text Colors #19120C #303235 */
    --black-text: #303235;
    --white-color: #e6edf3;
    --subtitle-color: #454545;
    --orange-hover: #FC3C1C;
    --border-color: #E3DEC9B3;
    --bg-card: #686666;

    /* Background beige: rgba(240,237,224,1)  gris: #cfc7c3 #fffdfc*/
    --bg-color: rgba(240,237,224,1);
    --bg-green: #222;

    /* Font size */
    --small-size: .9rem;
    --p-size: 1rem;
    --title-size: 4.8rem;
    --subtitle-size: 2rem;

    /* Font weight */
    --standard-weight: 400;
    --bold-weight: 700;
}

    /* Reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection{
    background: var(--orange-hover);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black-text);
}

h3{
    font-size: var(--p-size);
    font-weight: var(--bold-weight);
}

button{
    border: none;
    background: transparent;
    font-family: var(--primary-font);
}

body{
    background: var(--bg-color);
    color: var(--black-text);
    font-family: var(--primary-font);
    font-size: var(--p-size);
    font-weight: var(--standard-weight);
}