.projects__cards{
    display: flex;
    position: relative;
    width: 22rem;
    height: 28rem;
    transform-style: preserve-3d;
}

.face{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .5s;
}

.projects__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: var(--bg-card);
}

.projects__text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.projects__title{
    color: var(--bg-color);
    font-weight: 100;
    filter: saturate(400%);
}

.projects__description{
    color: var(--bg-color);
    font-weight: 100;
    font-size: var(--small-size);
    filter: saturate(400%);
    text-align: justify;
}

.projects__stack{
    display: flex;
    justify-content: center;
    width: 100%;
}

.stack{
    color: var(--orange-hover);
    font-size: var(--small-size);
    filter: saturate(180%);
    background: rgba(0,0,0,30%);
}

.stack__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,30%);
    padding-left: 1.5rem;
    gap: .2rem;
}

.stack__img{
    width: 21px;
    height: 21px;
}

.projects__cards-back{
    transform: rotateY(180deg);
}

.projects__front-img{
    width: 22rem;
    height: 28rem;
    object-fit: cover;
    filter: contrast(110%);
}

.projects__cards:hover .projects__cards-front{
    transform: rotateY(-180deg);
}

.projects__cards:hover .projects__cards-back{
    transform: rotateY(0deg);
}

/* Responsive */

@media only screen and (max-width: 767px) {
    .projects__cards{
        width: 29rem;
        height: 16rem;
    }

    .projects__front-img{
        width: 29rem;
        height: 16rem;
    }

    .projects__title{
        font-size: var(--small-size);
    }

    .projects__description{
        font-size: var(--small-size);
    }

    .stack{
        font-size: var(--small-size);
    }
}

@media only screen and (min-width: 768px) and (max-width: 958px){
    .projects__cards{
        width: 19rem;
        height: 25rem;
    }

    .projects__front-img{
        width: 19rem;
        height: 25rem;
    }

    .projects__title{
        font-size: var(--small-size);
    }

    .projects__description{
        font-size: var(--small-size);
    }

    .stack{
        font-size: var(--small-size);
    }
}

@media only screen and (min-width: 959px) and (max-width: 1220px) {
    
    .projects__cards{
        width: 20rem;
        height: 26rem;
    }

    .projects__front-img{
        width: 20rem;
        height: 26rem;
    }
}